<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>E2_16_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E2_16_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{48,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E2_16_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{96,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>E2_16_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,64}</string>
                <key>spriteSourceSize</key>
                <string>{48,64}</string>
                <key>textureRect</key>
                <string>{{144,0},{48,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>E2_N.png</string>
            <key>size</key>
            <string>{192,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4dbf431ae05600ca42f9e7377558b70:7f98f8f1d4d89e20bf2caaa7b2faa4c5:460184f3dd2578b9ce7f0b8b9cbd8d11$</string>
            <key>textureFileName</key>
            <string>E2_N.png</string>
        </dict>
    </dict>
</plist>
