<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack_03.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack_07.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{0,56},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower-(2)_08.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{24,56},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Attack.png</string>
            <key>size</key>
            <string>{56,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37fa513004a5d3b492fcad6551650647:946134549cf13805bbfd6f15927b9482:55e7a9d3303152ed3444dcc2f62c4456$</string>
            <key>textureFileName</key>
            <string>Attack.png</string>
        </dict>
    </dict>
</plist>
