<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,90},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,180},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,270},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,360},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,450},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,540},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,630},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,720},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,810},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,900},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,990},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1080},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1170},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1260},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tower5.png</string>
            <key>size</key>
            <string>{45,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:158acc0b06cab81dce7bd592ff853320:aff10ea4d9f8e1cf78ece227d79a1c42:1bfaaad004ab38d15c8ddd929829875f$</string>
            <key>textureFileName</key>
            <string>Tower5.png</string>
        </dict>
    </dict>
</plist>
