<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,90},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,180},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,270},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,360},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,450},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,540},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,630},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,720},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,810},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,900},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,990},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1080},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1170},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1260},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tower3.png</string>
            <key>size</key>
            <string>{45,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72e486c6410b8ad83ca0c1e07e32a81c:a8fc1e1c8cd4922a552999ddac089c32:b0abd6c3de610def762e3cdb3fcedbb5$</string>
            <key>textureFileName</key>
            <string>Tower3.png</string>
        </dict>
    </dict>
</plist>
