<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,90},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,180},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,270},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,360},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,450},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,540},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,630},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,720},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,810},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,900},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,990},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1080},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1170},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,90}</string>
                <key>spriteSourceSize</key>
                <string>{45,90}</string>
                <key>textureRect</key>
                <string>{{0,1260},{45,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Tower4.png</string>
            <key>size</key>
            <string>{45,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3d69a992fa63d68722e98dcdc326003:2237a74d8538fe50f03f1f7da00a8814:344440a1e3191376f88e99c7cf50f1d3$</string>
            <key>textureFileName</key>
            <string>Tower4.png</string>
        </dict>
    </dict>
</plist>
